/* ===== HEADER ===== */
.header {
  padding: 1rem 0;
  background-color: #177079;
  border-bottom: 4px solid #1aa6ae;
}

/* ===== NAVIGATION ===== */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;

  /* LOGO */
  &__logo-img {
    width: 45px;
    height: auto;
  }

  /* MENU */
  &__list {
    display: flex;
    gap: 2rem;
    list-style: none;
  }

  &__item {
    cursor: pointer;
    font-weight: 500;
    color: white;

    &:hover {
      opacity: 0.7;
    }
  }

  /* ACTIONS */
  &__actions {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .notification__logo-img {
    width: 22px;
    height: auto;
  }

  &__profile {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    border: none;
    cursor: pointer;
  }
}

/* ===== RESPONSIVE ===== */
@media (max-width: 640px) {

  .nav__list {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #177079;
    padding: 1rem 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
  }
}
